In [ ]:
#list in python
list1 = [1,2,3,4,['sai','Pavan'],[1.2,3.5,7.5]]
print(list1)

[1, 2, 3, 4, ['sai', 'Pavan'], [1.2, 3.5, 7.5]]

In [ ]:
for i in list1:
  if type(i) == list:
    for j in i:
      print(j)
  else:
    print(i)

3
2
6
4
sai
Pavan
1.2
3.5
7.5
7
8
9
7
8
9

In [ ]:
list1[0] = 3
print(list1)
list2 = [7,8,9]
list2.insert(0,5) #insertion
print(list2)
list1.extend(list2) #adding list
print(list1)
list1.append(list2) #adding nested list
print(list1)
list1[2] = 6
print(list1)

[3, 2, 3, 4, ['sai', 'Pavan'], [1.2, 3.5, 7.5]]
[5, 7, 8, 9]
[3, 2, 3, 4, ['sai', 'Pavan'], [1.2, 3.5, 7.5], 5, 7, 8, 9]
[3, 2, 3, 4, ['sai', 'Pavan'], [1.2, 3.5, 7.5], 5, 7, 8, 9, [5, 7, 8, 9]]
[3, 2, 6, 4, ['sai', 'Pavan'], [1.2, 3.5, 7.5], 5, 7, 8, 9, [5, 7, 8, 9]]

In [6]:
#slicing and deletion:
list1 = [1,2,3,4,['sai','Pavan'],[1.2,3.5,7.5]]
print(list1[::-1])
list1.remove(4)
print(f"using remove method at index 0: {list1}")
list1.pop(0)
print(f"using pop method at index 0: {list1}")

[[1.2, 3.5, 7.5], ['sai', 'Pavan'], 4, 3, 2, 1]
using remove method at index 0: [1, 2, 3, ['sai', 'Pavan'], [1.2, 3.5, 7.5]]
using pop method at index 0: [2, 3, ['sai', 'Pavan'], [1.2, 3.5, 7.5]]

In [11]:
#searching using in and linear search
print(list1)
print(2 in list1)
for i,value in enumerate(list1):
  if value == 3:
    print(f'index is {i}')

[2, 3, ['sai', 'Pavan'], [1.2, 3.5, 7.5]]
True
index is 1

In [13]:
# list comprehension
num = [1, 2, 3, 4, 5, 6, 7]
squares = [i**2 for i in num]
print(squares)

[1, 4, 9, 16, 25, 36, 49]

In [16]:
#conditional list comprehension
num = [1, 2, 3, 4, 5, 6, 7]
squares = [i**2 if i>2 else 0 for i in num]
print(squares)

[0, 0, 9, 16, 25, 36, 49]

In [ ]:
#general operations like
#sum, min, max, .lower(), .isalpha(), .split(), .join(), can be used in list whenever needed