In [ ]:
dict1 = {}
dict1.update({'1':'one','2':'two','3':'three'})
#updation and initializing dictionary
print(dict1)
dict1.update({'1':'one_update'})
print(f'updated dictionary {dict1}')

{'1': 'one', '2': 'two', '3': 'three'}
updated dictionary {'1': 'one_update', '2': 'two', '3': 'three'}

In [ ]:
#loop traversing
for key in dict1:
  print(key,dict1[key])

1 one_update
2 two
3 three

In [ ]:
dict1.pop('2', None)
print(dict1)

{'1': 'one_update', '3': 'three'}

In [ ]:
#operations using dictionary
print(dict1.items()) # displays all items currently in the dictionary in form of tuples
print(dict1.keys()) # all keys
print(dict1.values())
dict2 = dict1.copy()
print(len(dict2))
print(all(dict2)) # checks if all keys are true(booleans and 0 keys are not valid keys)
print(any(dict2)) # check if any one of key is true
print(dict2.get('2'))
print(dict2.setdefault('2', 'two')) #set default is adding key , value
print(dict2.get('2')) # accessing value of key
dict3 = dict2.fromkeys(['4','5','6'],0) # used to assign default value
print(dict2)
dict4 = sorted(dict2) #dot sort doesn't work since dictionaries are inherentily orderless
print(dict4)

dict_items([('1', 'one_update'), ('3', 'three')])
dict_keys(['1', '3'])
dict_values(['one_update', 'three'])
2
True
True
None
two
two
{'1': 'one_update', '3': 'three', '2': 'two'}
['1', '2', '3']

In [ ]:

def merge_dicts(dict1, dict2):
    # TODO
    dict3 = {}
    for i in dict1:
        print(type(dict1.get(i, 0)))
        j = int(dict2.get(i, 0))
        # print(type(j))
        # j = dict2.get(i)
    #     dict3[i] = k + j
    # return dict3

dict1 = {'a': 1, 'b': 2, 'c': 3}
dict2 = {'b': 3, 'c': 4, 'd': 5}
merge_dicts(dict1, dict2)

<class 'int'>
<class 'int'>
<class 'int'>

In [ ]:
#sample comprehension dictionary example
def count_word_frequency(words):
    # TODO
    freq_dict = {key:words.count(key) for key in words}
    return freq_dict

In [ ]:

def reverse_dict(my_dict):
    # TODO
    dict1 = {}
    for key,value in my_dict.items():
        dict1[value] = key
    return dict1

my_dict = {'a': 1, 'b': 2, 'c': 3}
reverse_dict(my_dict)

{1: 'a', 2: 'b', 3: 'c'}

In [ ]:
def check_same_frequency(list1, list2):
    # TODO
    dict_list1 = {i:list1.count(i) for i in list1}
    print(dict_list1)
    dict_list2 = {i:list2.count(i) for i in list2}
    print(dict_list2)
    if dict_list2 == dict_list1:
        return True
    else:
        return False

list1 = [1, 2, 3, 2, 1]
list2 = [3, 1, 2, 1, 3]
check_same_frequency(list1, list2)

{1: 2, 2: 2, 3: 1}
{3: 2, 1: 1, 2: 2}

False

In [ ]:
#tuple
new_tuple = ('abc','def')
print(new_tuple)
print('abc' in new_tuple) #searching
new_tuple[1] # accessing
for i in new_tuple: # traversing
  print(i)

('abc', 'def')
True
abc
def

In [ ]:
init_tuple_a = [1, 2]
init_tuple_b = (3, 4)
init_tuple_a[2] = 5
list2 = [sum(x) for x in [init_tuple_a]]
print(list2)

IndexError: list assignment index out of range

In [ ]:
def get_diagonal(tup):
    # TODO
    tuple2 = tuple(tup[i][i] for i in range(len(tup)))
    print(tuple2)
    return(tuple2)

input_tuple = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)
output_tuple = get_diagonal(input_tuple)
print(output_tuple)

(1, 5, 9)
(1, 5, 9)

In [ ]:
k = set()
k.add('hello')
print(k)

{'hello'}

In [ ]:
tuple1 = {1,2,3}
tuple2 = {4,5,6,3}
tuple3 = {7,8,9}
tuple5 = tuple1.difference(tuple2)
tuple4 = tuple1.symmetric_difference(tuple2)
tuple2 = tuple1.intersection(tuple2)
tuple1 = tuple1.union(tuple2,tuple3)
print(f'{tuple1}, {tuple2}, {tuple4}, {tuple5}')
tuple1.add(10)      #add
tuple1.remove(2)    #remove
for i in tuple1:    #traversing
  print(i)
print(tuple1)

{1, 2, 3, 7, 8, 9}, {3}, {1, 2, 4, 5, 6}, {1, 2}
1
3
7
8
9
10
{1, 3, 7, 8, 9, 10}

In [ ]:
k = lambda x,y: x+y if x>3 else 0
print(k(2,3))

0